@import '../../override/sizeVar.less';

@input-height-base: @base-height;
@input-height-lg: @large-height;
@input-height-sm: @small-height;

// @btn-border-radius-base:  @border-radius-base;
// @btn-border-radius-sm:    @border-radius-base;

// @btn-font-weight: 500;