body.theme-dark {
    .code-box-demo {
        background-color: #252a33;
    }

    .code-box-title,
    .code-box-title .edit-button {
        background-color: #929499;
    }
}

body {
    overflow-x: hidden;
    font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    transition: background-color 1s ease-out;
}
