@primary-color:           #68d468;
@hover-primary-color:     #6bd468;
@info-color:              @primary-color;
@success-color:           @primary-color;
@error-color:             #ea5b5b;
@highlight-color:         @primary-color;
@warning-color:           #ffbf00;
@normal-color:            #ababab;
@inverse-primary-color:   #4561ab;
@disabled-color:          #9b9b9b;