@primary-color:           #4561ab;
@hover-primary-color:     #374d88;
@info-color:              @primary-color;
@success-color:           @primary-color;
@error-color:             #ea5b5b;
@highlight-color:         @primary-color;
@warning-color:           #ffbf00;
@normal-color:            #ababab;
@inverse-primary-color:   #68d468;
@disabled-color:          #8a92a1;;
