@base-height:             36px;
@small-height:            24px;
@large-height:            48px;

@border-radius-base:      4px;
@border-radius-sm:        2px;


@font-size-base:          14px;
@font-size-little-big:    @font-size-base + 2px;
@font-size-big:           @font-size-base + 4px;
@font-size-lg:            @font-size-base + 7px;